[FEATURE]
month = yes
day = yes
hour = yes
week = yes
latitude = yes
longitude = yes
location_category_arts_entertainment = no
location_category_college_university = yes
location_category_event = yes
location_category_food = yes
location_category_nightlife_spot = no
location_category_outdoors_recreation = yes
location_category_professional_other_places = yes
location_category_residence = yes
location_category_shop_service = yes
location_category_travel_transport = yes
humidity = no
pressure = no
temperature = yes
wind_direction = yes
wind_speed = yes
weather_description = yes

[OTHER]
train_data_size_subset = 10
k_nearest_neighbor = 3
radius = 0.002
multiple_location_type = yes
